{% extends 'base.html' %}
    <!-- Header -->

{% block 'content' %}

{% load static %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">HybridLab</span>
                        <hr class="star-light">
                        <span class="skills">Bancada de Simulação de Motor Híbridor</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    
    <!-- About Section -->
    <section class="primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section class="success" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Áreas de Integração</h2>
                    <hr class="star-light">
                </div>
            </div>
                <div class="row">
                    <div id="integracao_automotiva"></div>
                    <div class="col-sm-1 portfolio-item">
                    </div>
                    <div class="col-sm-2 portfolio-item">
                        <a href="#integracao_automotiva" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                             <img class="img-responsive" src="{% static "core/bootstrap-3.2.0-dist/img/icone_automotiva.png"%}" alt="" height="200" width="200">
                        </a>
                        <div class="col-md-2 text-center">
                        <h4>Engenharia Automotiva</h4>
                        </div>
                    </div>
                    <div class="col-sm-2 portfolio-item">
                        <a href="#integracao_software" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                             <img class="img-responsive" src="{% static "core/bootstrap-3.2.0-dist/img/icone_software.png"%}" alt="" height="200" width="200">
                        </a>
                        <div class="col-md-2 text-center">
                        <h4>Engenharia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;de &nbsp;&nbsp;Software</h4>
                        </div>
                    </div>
                    <div class="col-sm-2 portfolio-item">
                        <a href="#integracao_energia" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                             <img class="img-responsive" src="{% static "core/bootstrap-3.2.0-dist/img/icone_energia.png"%}" alt="" height="200" width="200">
                        </a>
                        <div class="col-md-2 text-justify">
                        <h4 >Engenharia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;de &nbsp;&nbsp;&nbsp;&nbsp;Energia</h4>
                        </div>
                    </div>
                    <div class="col-sm-2 portfolio-item">
                        <a href="#integracao_eletronica" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                             <img class="img-responsive" src="{% static "core/bootstrap-3.2.0-dist/img/icone_eletronica.png"%}" alt="" height="200" width="200">
                        </a>
                        <div class="col-md-2 text-center">
                        <h4>Engenharia Eletrônica</h4>
                        </div>
                    </div>
                    <div class="col-sm-2 portfolio-item">
                        <a href="#integracao_aeroespacial" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                             <img class="img-responsive" src="{% static "core/bootstrap-3.2.0-dist/img/icone_aeroespacial.png"%}" alt="" height="200" width="200">
                        </a>
                        <div class="col-md-2 text-center">
                        <h4>&nbsp;&nbsp;Engenharia Aeroespacial</h4>
                        </div>
                    </div>
                    <div class="col-sm-1 portfolio-item">
                    </div>
                </div>
            <div class="row">
                <div id="integracao_software"class="col-lg-8 col-lg-offset-2"> <h4> <b>Engenharia Automotiva</b> </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.
                orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <hr>
                </div>
                
                <div id="integracao_energia" class="col-lg-8 col-lg-offset-2"> <h4> <b>Engenharia de Software</b> </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.
                orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <hr>
                </div>
    
                <div id="integracao_eletronica" class="col-lg-8 col-lg-offset-2"> <h4> <b>Engenharia de Energia</b> </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.
                orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <hr>
                </div>
    
                <div id="integracao_aeroespacial" class="col-lg-8 col-lg-offset-2"> <h4> <b>Engenharia Eletrônica</b> </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.
                orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <hr>
                </div>
    
                <div class="col-lg-8 col-lg-offset-2"> <h4> <b>Engenharia Aeroespacial</b> </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.
                orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <hr>
                </div>
            </div>
    </section>


{% endblock %}

