
{% extends 'base.html' %}

{% block 'content' %}
	<style>
      body {
        padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

<section class="primary">

	<center><table width="75%" border="0">
    	
    	<tr>
    		<td colspan=7><center><h2>Simulação {{simulation.id}}</h2></center><hr class="star-primary"></td>
 		</tr>

 		<tr>
       		<td align="center"><h3>Data:</h3><h4>{{simulation}}</h4></td>
       		<td align="center"><h3>Angulação(º):</h3><h4> {{simulation.inclination}} graus</h4></td>
       		<td align="center"><h3>Perda de Potência(%):</h3><h4> {{simulation.powerLoss}} </h4></td>
          <td align="center"><h3>Modelo do Carro:</h3><h4> {{simulation.id_car.carModel}}</h4></td>
    </tr>
    <tr>
        
        <td align="center"><h3>Potencia:</h3><h4> {{simulation.id_car.power}} W</h4></td>
        <td align="center"><h3>Massa:</h3><h4> {{simulation.id_car.mass}} kg</h4></td>
        <td align="center"><h3>Coeficiente Aerodinamico:</h3><h4> {{simulation.id_car.dragCoeficient}}</h4></td>
        <td align="center"><h3>Area Frontal:</h3><h4> {{simulation.id_car.frontalArea}} m²</h4></td>

    </tr>

    </table></center><br><br>

		{% load chartit %}
		{{ resultados|load_charts:"cht, chtT"}}
		 <div class="center-block" style="width:900px; height:400px;" id="cht">Corrente</div>
		 <br>
		<div class="center-block" style="width:900px; height:400px;"id="chtT">Consumo</div>



</section>

{% endblock %}